
# Project files
.gradle/
.idea/

# Build files
/build/
*.class

# Runtime files
*.log

# Runtime files - virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

/test-scenarios.db.json
